In [1]:
'TO DO: Please reassign your corresponding paths:'

#set path where data sets are stored
path_datasets = '/Users/Bisa/Documents/Studium/Masterstudium/5_Semester/MLiM/datasets'
#set path to where the module is stored
%cd '/Users/Bisa/Documents/Studium/Masterstudium/5_Semester/MLiM/datasets'

/Users/Bisa/Documents/Studium/Masterstudium/5_Semester/MLiM/datasets

In [2]:
import pandas as pd
import module_generate_dataset 
from module_generate_dataset import generate_dataset

In [3]:
data = generate_dataset(path_datasets)

Data set is generated and saved as a parquet file to: /Users/Bisa/Documents/Studium/Masterstudium/5_Semester/MLiM/datasets

In [4]:
data.head()

,week,shopper,product,price,discount,product_bought,discount_offered,purchase_w/o_dis,no_purchase_w_dis,discount_effect,...,customer_prod_bought_dis_share,customer_prod_dis_offers,customer_prod_dis_offer_share,customer_product_share,customer_mean_product_price,customer_discount_buy_share,week_basket_size,week_basket_value,mean_basket_size,mean_basket_value
1378724,0,0,5,504.7,30.0,0,1,0,1,0,...,-1.0,2,-1.0,-1.000000,586.662338,1.0,10.0,5908.0,8.992208,5273.981818
2224474,0,0,16,743.0,0.0,0,0,0,0,0,...,0.5,40,0.5,0.005195,586.662338,1.0,10.0,5908.0,8.992208,5273.981818
1378722,0,0,27,407.4,30.0,0,1,0,1,0,...,-1.0,3,-1.0,-1.000000,586.662338,1.0,10.0,5908.0,8.992208,5273.981818
1378720,0,0,35,391.3,35.0,0,1,0,1,0,...,-1.0,3,-1.0,-1.000000,586.662338,1.0,10.0,5908.0,8.992208,5273.981818
2224477,0,0,52,607.0,0.0,0,0,0,0,0,...,0.0,38,0.0,0.011688,586.662338,1.0,10.0,5908.0,8.992208,5273.981818