# Consumer's Preference & Negative Samples

In [109]:
import pickle
with open("baskets_product_list.pickle", "rb") as handle:
    baskets = pickle.load(handle)

In [110]:
baskets = baskets[baskets["shopper"]<2000]
baskets

,shopper,week,products,price,basket_size
0,0,0,"[71, 91, 116, 123, 157, 167, 171, 184, 207, 225]",5908,10
1,0,1,"[71, 91, 130, 157, 167, 191, 225]",4109,7
2,0,2,"[52, 67, 71, 87, 91, 130, 184, 211, 238]",5108,9
3,0,3,"[71, 91, 123, 130, 179, 184, 214, 225]",4681,8
4,0,4,"[48, 67, 76, 91, 116, 123, 184, 225]",4740,8
...,...,...,...,...,...
179961,1999,85,"[21, 48, 86, 144, 158, 168, 192]",3674,7
179962,1999,86,"[4, 41, 64, 103, 132, 158, 220, 242]",4727,8
179963,1999,87,"[31, 47, 50, 64, 86, 103, 158, 168, 194]",5344,9
179964,1999,88,"[18, 47, 64, 144, 158, 168, 170, 192]",4712,8
179965,1999,89,"[4, 29, 31, 46, 75, 108, 114, 131, 144, 158, 1...",7515,13

In [101]:
import module_negatives

In [102]:
negative_sampler = module_negatives.NegativeSampleGenerator(baskets,no_customers=2000)

In [103]:
negative_sampler.calculate_frequencies()

In [104]:
negative_sampler.get_total_frequency_without89()

array([[ 0,  0,  0, ...,  0,  0, 13],
       [ 6, 13,  0, ...,  0,  0,  6],
       [ 0, 46,  0, ...,  0,  9,  5],
       ...,
       [ 0,  1,  0, ...,  0,  0,  6],
       [ 0,  1,  1, ...,  1, 38,  0],
       [ 0,  3,  0, ...,  0, 31,  0]], dtype=int8)

In [105]:
preferences = negative_sampler.calculate_customer_preferences(min_frequency=3)

In [106]:
negative_sampler.show_customer_preferences(2)

0:
[4, 11, 16, 38, 52, 56, 67, 71, 76, 81, 87, 91, 110, 116, 123, 130, 148, 157, 167, 171, 179, 181, 184, 191, 202, 207, 210, 211, 214, 225, 238, 244, 249]
1:
[0, 1, 4, 21, 22, 28, 33, 35, 36, 39, 42, 48, 50, 53, 63, 78, 83, 92, 94, 111, 116, 117, 125, 136, 142, 145, 146, 149, 156, 165, 168, 171, 182, 183, 189, 193, 199, 200, 209, 211, 212, 220, 228, 229, 235, 249]

In [107]:
df_negative_samples = negative_sampler.generate()

0% done.
10% done.
20% done.
30% done.
40% done.
50% done.
60% done.
70% done.
80% done.
90% done.
100% done.

In [108]:
df_negative_samples.head()

  week shopper product  product_bought
0    0       0     238               0
1    0       0      16               0
2    0       0     130               0
3    0       0     181               0
4    0       0      52               0

In [ ]:
df_negative_samples.to_parquet("df_negative_samples.parquet")

In [315]:
# with open("preferences_min3.pickle", "wb") as handle:
#     pickle.dump(preferences, handle)

In [3]:
# with open("preferences_min3.pickle", "rb") as handle:
#     preferences = pickle.load(handle)

In [34]:
# with open("df_negative_samples.pickle", "wb") as handle:
#     pickle.dump(df_negative_samples, handle)